<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/swarve/css/main.css">
    <script src="static/swarve/js/jQuery-1.9.1.js"></script>
    <script src="static/swarve/js/main-js.js"></script>
    <script type="text/javascript" src="static/swarve/js/Eventbrite.jquery.js"></script>
    <script type="text/javascript" src="static/swarve/js/eventbrite.js"></script>
    <script type="text/javascript" src="static/swarve/js/auth.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
    <script type="text/javascript" src="static/swarve/js/search.js"></script>

    <title></title>
</head>
<body>

    <div class="wrapper">

        <div class="box">
            <div class="blog_box">
                {% for tweet in search %}
                <div class="post">
                    <p>{{ tweet.text }}</p>
                </div>
                <hr />
                {% endfor %}
            </div>
            <div class="twitter_box">
                <button id="login-link" style="display:none; position: absolute; left: 35%">Authorize</button>
            </div>
            <div class="news_box">
                {% for vid in youtube %}
                <div class="post">
                    <li>
                        <img src="{{ vid.snippet.thumbnails.default.url }}">
                        <a class="title_string" target="_blank" href= "http://www.youtube.com/watch?v={{vid.id.videoId }} ">{{ vid.snippet.title }}</a>
                    </li>
                </div>
                {% endfor %}
            </div>
            <div class="event_box"></div>

        </div>
    </div>
    {% if success %}
        <h2>Data Posted:</h2>
        <p>email: {{email}}</p>
        <p>title: {{title}}</p>
        <p>text: {{text}}</p>
    {% else %}
    <h2>Contact</h2>
    <form action="." method="POST">
        {{ contact_form.as_p }}
        <input type="submit" value="Send">
        <input type="reset" value="Reset">
    </form>
    {% endif %}

</body>
</html>